<html>
  
  <head>
      <link rel= "stylesheet"
            type= "text/css"
            href="{{url_for('static',
                  filename=
                  'styles/style.css')}}">
                  <meta name="viewport" content="width=400 initial-scale=1.0 user-scalable=yes, maximum-scale=3.0, minimum-scale=2.0">
  </head>
  <body>
    <div id="container-main">
      <form method="POST" id="form">
        <textarea 
               name="sentence_input"

               placeholder="Write your sentence"
               required
               > </textarea>
        <input class="submit-button" type="submit"
               value="Convert">
      </form>
      {% if sentiment %}
      <div class = "result-main" >
        <div>
          <div class="sent">
            <p>The sentiment of the above text is:</p>
            <span>{{sentiment}}</span>
          </div>
          <div class="freg-hig">
            <p>The text with the most frequent word highlighted:</p>
            <span>       
              {% autoescape off %}
                {{ new_text }}
              {% endautoescape %}
          </span>
          </div>
        </div>
        <div class="freq-res">
          <h5>Word Frequency:</h5>
          <table>
            <tr>
              <th>Word</th>
              <th>Frequency</th>
            </tr>
            {% for k, v in top %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                </tr>
             {% endfor %}
          </table>
        </div>
      </div>
      <!-- <div> -->
        <!-- € -->
        <!-- ${{new_text}} -->

        <!-- ${{top}} -->
      <!-- </h3> -->
      {% endif %}
    </div>
  </body>
</html>
